@model IEnumerable<DoGiaDungPN.Models.Order>

@{
    ViewData["Title"] = "Chi tiết đơn hàng";
}

<link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
<h1>Chi tiết đơn hàng</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Id khách hàng
            </th>
            <th>
                Ngày đặt hàng
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)Vnd
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Cập nhật</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
